body.dark {
  background: #222;
  color: #aaa;
}
body.dark .overlay {
  background: RGBa(205,205,205,0.3);
}
body.dark .popup {
  box-shadow: 0 0 50px #ccc;
}
body.dark .quizcontainer {
  box-shadow: 0 0 1px 3px RGBa(205,205,205,0.1);
}
body.dark .top {
  color: #777;
}
body.dark button {
  border: 1px solid #444;
  background: linear-gradient(#222,#2a2a2a);
}
body.dark button:hover {
  background: #282828;
}
