@import url('https://fonts.googleapis.com/css?family=Roboto:100');
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  color: #444;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: RGBa(0,0,0,0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}
.popup {
  position: fixed;
  width: 300px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 50px #333;
  text-align: center;
  padding: 10px;
}
.popuptitle {
  font-size: 25px;
}
h1 {
  text-align: center;
  font-weight: 100;
}
.theme {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  right: 5px;
  top: 5px;
  transition: 0.25s ease;
  font-size: 30px !important;
  cursor: pointer;
}
.theme::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.theme:hover {
  box-shadow: 0 0 10px #777;
}
button {
  background: linear-gradient(#fff,#f1f1f1);
  cursor: pointer;
  color: #999;
  border: 1px solid #eee;
  padding: 5px 10px;
  font-size: 18px;
}
button:hover {
  background: #f8f8f8;
}
.links {
  padding: 5px 8px;
  position: fixed;
  right: 0;
  bottom: 0;
  border: 1px solid #eee;
  z-index: 2;
  overflow: hidden;
}
.links::before {
  content: "";
  transition: 0.2s linear;
  position: absolute;
  background: #333;
  height: 0;
  width: 0;
  display: block;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}
.links:hover::before {
  height: 200px;
  width: 200px;
}
.links:hover a {
  color: #eee;
}
.links a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 13px;
  color: #555;
  font-weight: 100;
  transition: 0.25s ease;
  border-bottom: 1px solid transparent;
  padding: 3px;
}
.links a:hover {
  color: #aaa;
  border-color: #777;
}
.links a:active {
  color: #fff !important;
  background: #777;
}
